<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN SEITE</title>
</head>
<body>
    <h1>Ich bin auf jeder Seite zu sehen</h1>
    <header>
        <nav>
            <a href="/">startseite</a>
            |<a href="/jobs">jobs</a>
            |<a href="/demo">demo</a>
            |<a href="/mitcookie">mitcookie</a> 
            |<a href="/login">login</a>
            |<a href="/geheims">geheims</a>
            |<a href="/logout">log out</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer></footer>
     
    
</body>
</html>