
    <div class="container2 mt-5">
        <h3>Sie haben sich erfolgreich registriert</h3>
    </div>
    
<div>
  <p> Ich bin: {{vorname}}</p>
  <p>Meine email-Adresse ist: {{email}}</p>
  <p>So sehe ich aus:</p>
  <img src="{{bild}}" alt="profilbild" height="200" >
</div>