<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>Bitte anmelden</h2>
    <div class="container mt-5">
        <form action="#" method="POST">
            <div class="form-group col-md-6">
                <label for="vorname"></label>
                <input type="text" class="form-control" id="vorname" name="vorname" placeholder="Vorname">
            </div>

            <div class="form-group col-md-6">
                <label for="nachname"></label>
                <input type="text" class="form-control" id="nachname" name="nachname" placeholder="Nachname">
            </div>

            <div class="form-group col-md-6">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>

            <div class="form-group col-md-6">
                <label for="password"></label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>

            <div class="form-group col-md-6">
                <label for="alter"></label>
                <input type="number" class="form-control" id="alter" name="alter" placeholder="Alter">
            </div>

            <div class="form-group col-md-6">
                <label for="wohnort"></label>
                <input type="text" class="form-control" id="wohnort" name="wohnort" placeholder="Wohnort">
            </div>

            <div class="form-group col-md-6">
                <label for="beruf"></label>
                <input type="text" class="form-control" id="beruf" name="beruf" placeholder="Beruf">
            </div>

            <button type="submit" class="btn btn-primary mt-3">Sign in</button>
            <button type="reset" class="btn btn-primary mt-3">Reset</button>
        </form>
    </div>


</body>
</html>