
<h2>Bitte anmelden</h2>
    <div class="container mt-5">
        <form action="/users" method="POST" enctype="multipart/form-data">
         <input type="text" name="_csrf" value="{{csrfTocken}}">
            <div class="form-group col-md-6">
                <label for="vorname"></label>
                <input type="text" class="form-control" id="vorname" name="vorname" placeholder="Vorname *">
            </div>

    
            <div class="form-group col-md-6">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email *" required>
            </div>

            <div class="form-group col-md-6">
                <label for="password"></label>
                <input type="text" class="form-control" id="password" name="password" placeholder="Password *" minlength="5" maxlength="10" required >
            </div>


            <label> Bild:
                <input type="file" name="bild">
            </label>

            <button type="submit" class="btn btn-primary mt-3">Sign in</button>
            <button type="reset" class="btn btn-primary mt-3">Reset</button>
        </form>
    </div>


