<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    
    <h2>Bitte einloggen</h2>

    <form action="login" method="POST" class="container2">
        <input type="text" name="email" placeholder="Gib dein Email Adresse ein!">
        <br>
       
        <input type="text" name="password" placeholder="Gib dein Password ein!" class="mt-1">
        <br>
        <button class="mt-3">Einloggen</button>
    </form>
   
</body>
</html>