
    <h2>Bitte einloggen</h2>

    <form action="/users/login" method="POST">
        <input type="text" name="_csrf" value="{{csrfTocken}}">
        <input type="text" name="email" required placeholder="Gib dein Email Adresse ein!">
        <br>
       
        <input type="password" name="password" placeholder="Gib dein Password ein!" class="mt-1" required>
        <br>
        <button class="mt-3">Einloggen</button>
        <button class="mt-3" type="reset">Reset</button>
    </form>
   