<form action="#" method="POST">
    <label for="">Firma :
        <input type="text" name="firma">
    </label>

    <label for="">Position :
        <input type="text" name="position">
    </label>

    <label for="">Von :
        <input type="text" name="von">
    </label>

    <label for="">Bis :
        <input type="text" name="bis">
    </label>
    <button>SEND</button>
</form>