.main-container{
    display: flex;
    flex-direction: column;
}

.welcome{
    background-color: sandybrown;
    text-align: center;
}

.navbar_class{
    display: flex;
    background-color: rgb(37, 36, 36);
}

.navbar_items{
    margin: 15px;
}

.navbar_items a{
    text-decoration: none;
    color: white;
}

.navbar_items a:hover{
    color:sandybrown;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 600px;
    border: 5px double gray;
    background-color:rgb(228, 226, 226) ;
    margin-left: 20px;
}
